@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all:before { content: "\e696"; }

.icon-back:before { content: "\e697"; }

.icon-cart:before { content: "\e698"; }

.icon-category:before { content: "\e699"; }

.icon-close:before { content: "\e69a"; }

.icon-comments:before { content: "\e69b"; }

.icon-cry:before { content: "\e69c"; }

.icon-delete:before { content: "\e69d"; }

.icon-edit:before { content: "\e69e"; }

.icon-email:before { content: "\e69f"; }

.icon-favorite:before { content: "\e6a0"; }

.icon-form:before { content: "\e6a2"; }

.icon-help:before { content: "\e6a3"; }

.icon-information:before { content: "\e6a4"; }

.icon-less:before { content: "\e6a5"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-pic:before { content: "\e6a8"; }

.icon-qrcode:before { content: "\e6a9"; }

.icon-refresh:before { content: "\e6aa"; }

.icon-rfq:before { content: "\e6ab"; }

.icon-search:before { content: "\e6ac"; }

.icon-selected:before { content: "\e6ad"; }

.icon-set:before { content: "\e6ae"; }

.icon-smile:before { content: "\e6af"; }

.icon-success:before { content: "\e6b1"; }

.icon-survey:before { content: "\e6b2"; }

.icon-training:before { content: "\e6b3"; }

.icon-viewgallery:before { content: "\e6b4"; }

.icon-viewlist:before { content: "\e6b5"; }

.icon-warning:before { content: "\e6b6"; }

.icon-wrong:before { content: "\e6b7"; }

.icon-account:before { content: "\e6b8"; }

.icon-add:before { content: "\e6b9"; }

.icon-clock:before { content: "\e6bb"; }

.icon-remind:before { content: "\e6bc"; }

.icon-calendar:before { content: "\e6bf"; }

.icon-attachment:before { content: "\e6c0"; }

.icon-discount:before { content: "\e6c5"; }

.icon-service:before { content: "\e6c7"; }

.icon-print:before { content: "\e6c9"; }

.icon-box:before { content: "\e6cb"; }

.icon-process:before { content: "\e6ce"; }

.icon-lights:before { content: "\e6de"; }

.icon-jewelry:before { content: "\e6e4"; }

.icon-browse:before { content: "\e6e6"; }

.icon-scanning:before { content: "\e6ec"; }

.icon-pin:before { content: "\e6f2"; }

.icon-link:before { content: "\e6f7"; }

.icon-cut:before { content: "\e6f8"; }

.icon-text:before { content: "\e6fc"; }

.icon-move:before { content: "\e6fd"; }

.icon-icondownload:before { content: "\e714"; }

.icon-map:before { content: "\e715"; }

.icon-bad:before { content: "\e716"; }

.icon-good:before { content: "\e717"; }

.icon-iconfontplay2:before { content: "\e719"; }

.icon-iconfontstop:before { content: "\e71a"; }

.icon-compass:before { content: "\e71b"; }

.icon-security:before { content: "\e71c"; }

.icon-share:before { content: "\e71d"; }

.icon-hot:before { content: "\e756"; }

.icon-data:before { content: "\e757"; }

.icon-favorites:before { content: "\e7ce"; }

