@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?dcqdo6');
  src:  url('../fonts/icomoon.eot?dcqdo6#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?dcqdo6') format('truetype'),
    url('../fonts/icomoon.woff?dcqdo6') format('woff'),
    url('../fonts/icomoon.svg?dcqdo6#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tw:before {
  content: "\f099";
}
.icon-gb:before {
  content: "\f09b";
}
.icon-wb:before {
  content: "\f18a";
}
.icon-wx:before {
  content: "\f1d7";
}
.icon-qq:before {
  content: "\e90a";
}
.icon-message:before {
  content: "\e908";
}
.icon-comment:before {
  content: "\e0ca";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-image:before {
  content: "\e413";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-post:before {
  content: "\e24d";
}
.icon-keyboard:before {
  content: "\e313";
}
.icon-sticky:before {
  content: "\e90f";
}
.icon-person_add:before {
  content: "\e7fe";
}
.icon-eye:before {
  content: "\e8f4";
}
.icon-reply:before {
  content: "\e15e";
}
.icon-search:before {
  content: "\e8b6";
}
.icon-unlike:before {
  content: "\e8db";
}
.icon-like:before {
  content: "\e8dc";
}
.icon-video:before {
  content: "\e04a";
}
.icon-bubble:before {
  content: "\e909";
}
.icon-ellipsis:before {
  content: "\e900";
}