@media (min-width: 1400px) {
}
@media (min-width: 1200px) {
}
@media (max-width: 992px) {
  .thw-navbar-light {
    padding: 0;
    padding-bottom: 10px;
  }
  .navbar-toggler {
    position: absolute;
    right: -15px;
    top: 7px;
    z-index: 2;
  }
  .search-link form button {
    margin-top: 13px;
    margin-left: 0;
  }
  .search-link form button .icon-search {
    margin-left: -85px;
  }
  .search-link form button .icon-cross {
    margin-left: -50px;
    top: 13px;
  }
  .header-default .header-angle .navbar-collapse {
    position: absolute;
    width: 100%;
    top: 58px;
    background: #ee3131;
    margin-left: 0;
    padding-left: 32px;
    padding-right: 0;
  }
  .header-default .navbar-collapse {
    position: absolute;
    width: 100%;
    top: 46px;
    left: 0;
    background: #ffffff;
    margin-left: 0px;
    padding-left: 25px;
    padding-right: 25px;
    z-index: 2;
    border-radius: 0 0 4px 4px;
    padding-bottom: 12px;
    padding-top: 12px;
    border: 1px solid #e5e5e5;
  }
  .navbar .nav-item {
    margin-right: 0;
  }
  .navbar .nav-item .nav-link {
    padding: 7px 0;
  }
  .thw-indicator {
    float: right;
    width: 20px;
    height: 20px;
    line-height: 18px;
    border: 1px solid #e5e5e5;
    text-align: center;
  }
  .navbar-nav .nav-item .dropdown-menu {
    padding-bottom: 15px;
    -webkit-transition: all 0s;
    transition: all 0s;
    min-width: inherit;
    border-radius: 4px;
  }
  .thw-autohr-bio-img {
    padding-left: 0;
    margin-top: 40px;
  }
  .inner-body-wrap {
    padding: 50px 0;
  }
  .post-grid-image img {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .inner-body-wrap {
    padding: 0;
  }
  .inner-body {
    padding: 20px 10px 50px;
  }
  .thw-autohr-bio h2{
	  font-size:16px;
  }
  .thw-autohr-bio p{
	  font-size:14px;
  }
  .thw-autohr-bio-img{
	  display:none;
  }
  section, .section {
    margin: 60px 0;
  }
  .post-standard-style .post-content {
    padding: 20px 0 50px;
  }
  .entry-blog-listing .entry-blog-list-left {
    width: 100%;
  }
  .entry-blog-listing .entry-blog-list-left + .entry-blog-list-right {
    width: 100%;
    padding-left: 0;
    padding-top: 20px;
  }
  .entry-single-title {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .thw-featured-image {
    margin-bottom: 30px;
  }
  .single-entry-header {
    padding: 0;
    margin-top: 50px;
  }
  .entry-title {
    font-size: 24px;
    line-height: 32px;
  }
  .post-single .entry-content {
    padding: 30px 0 40px;
  }
  .alignright {
    margin-left: 0;
  }
  .post-footer {
    padding: 0;
  }
  .post-tags a {
    margin-bottom: 5px;
    display: inline-block;
    padding: 2px 12px;
  }
  .thw-sept {
    padding-left: 0;
    padding-right: 0;
  }
  .post-share-items li a {
    font-size: 16px;
    margin-left: 15px;
  }
  .post-navigation {
    display: block;
  }
  .post-previous {
    margin-bottom: 40px;
  }
  .author-box .thw-autohr-bio-img {
    margin-top: 0;
  }
}