#emotions1{
	left:0;
	margin-top: 34px;
	width: 395px;
	font-size:12px;
	background:#fff;
	border-radius: 5px;
	box-shadow: 0 0 8px gray;
	padding: 10px 0;
	position: absolute;
	border: 1px solid #E8E8E8;
}
#emotions1 a{
	color: #9ABBC8;
	padding:2px 7px;
	text-decoration:none;
}
#emotions1 img{
	border:0;
}
#emotions1 div{
	margin:5px 10px;
	padding:1px;
	overflow: hidden;
}
#emotions1 #prev,
#emotions1 #next
{
	margin-left:3px;
	height: 15px;
	display: block;
	float: left;
	background:#eee;
}
#emotions1 .categorys1{
	color:#ccc;
	height:26px;
	color: #9ABBC8;
	overflow:hidden;
}
#emotions1 .categorys1 a{
	border: 2px solid #e8e8e8;
	border-right:none;
	display: inline-block;
}
#emotions1 .categorys1 a:hover{
	text-decoration:underline;
}
#emotions1 .categorys1 a.current{
	cursor: default;
	border-bottom:none;
	border-bottom: 2px solid #99cc66;
	background: #F0F0F0;
}
#emotions1 .container{
	padding:1px;
	overflow: hidden;
	min-height:auto;
	overflow-y:auto;
	max-height:180px;
}
#emotions1 .container a{
	float:left;
	width:26px;
	height:22px;
	text-align:center;
	padding: 4px 2px;
	margin: -1px 0 0 -1px;
	border: 1px solid #e8e8e8;
}
#emotions1 .container a:hover{
	z-index:2;
	position:relative;
	border:1px solid #0095cd;
}
#emotions1 .page{
	text-align:right;
}
#emotions1 .page a.current{
	color: #666;
	background-color:#fff;
}
#emotions1 .page a{
	margin-left:3px;
	color: #0078B6;
	background-color:#f3f3f3;
}
#emotions1 .page a:hover{
	background-color:#e7e7e7;
}